body {
	background-color: #000
}
#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	font-size:14px;
}
p {
	margin: 0 0 10px 0;
	color: #00ff00;
	}
a {
	color: #0bc;
	text-decoration: none;
}
#a {
	color: #0f0;
}
#b {
	color: #ff0096;
	}
#c {
	color: #0bc;
}
#d {
	color : #e96228;
}