@import 
url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');


*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}


body{
	margin: 0;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 95%;
	margin: 0 auto;
	max-width: 1120px;
}

.clearfix::after,
section::after{
	content: ''
	display: block;
	clear: both;
}


/*------TYPOGRAPHY------*/
h1 {
	font-weight: 300;
	font-size: 34px;
}

p{
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type{
	margin-bottom: 0;
	
}

.title{
	font-size: 36px;
	margin-bottom: 30px;
	font-weight: 900;
	margin-top: 16px;
}

.title span{
	font-weight: 300;
	display: block;
}

@media (min-width: 900px) {
	
	p{
		font-size: 20px;
		line-height: 1.6;
	}
	
	
	.title{
		font-size: 72px;
	}
}


.button {
	display: inline-block;
	font-size: 19px;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 3px;
	border-style: solid;
	padding: 8px 5px;
}

@media(min-width: 900px){
	.button{
		font-size: 30px;
	}
}

.button-small{
	font-size: 15px;
	padding: 5px;
	
}



.button-accent{
	color: #8B0000;
	border-color: #8B0000;
}


.button-accent:hover, .button-accent:focus{
	background: #E31230;
	color: #FFF;
}




/*------HEADER------*/
header{
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px;
}


/*------NAV------*/


nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 20px;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 24;
	padding: 4px;
	border-radius: 20px;
	color: #FFF;
	background-image: linear-gradient(120deg, transparent 50%, #D3D3D3 40%);
	background-size: 250%;
	transition: all 0.4s;
}

nav a:hover, nav a:focus{
	background-position: 100%;
	color:#313131;
	transform: translateX(7px);
}

@media (min-width: 900px)
{
	.logo{
		float: left;
	}
	nav{
		float: right;
		font-size: 22px;
	}
	h2{
		float: left;
		
	}
}

/*------HOMEPAGE------*/

.homepage{
	background-image: url(img/homepage.jpg);
	background-size: cover;
	background-position: center;
	padding: 220px 0px;
	color: #FFF;
}

@media (min-width: 900px){
	.homepage{
		padding-top: 20vh;
		height: 100vh;
	}
}


/*------HOMEPAGE------*/
.home-about-text{
	background-color: #232323;
	padding: 48px;
	width: 100vw;
	margin-left: -2.6%;
	outline: 2px solid #00FF6C;
	outline-offset: -32px;
	color: #FFF;
	position: relative;
}


.home-about-text h1{
	color: #00FF6C;
	position: absolute;
	left: 50%; 
	transform: translateX(-50%);
	top: -18px;
	background: #232323;
	padding: 0 4px;
}

@media(min-width: 900px){
	
	h1{
		font-size: 44px;
	}
	
	.home-about{
		background-image: url(img/whoami.jpg);
		background-repeat: no-repeat;
		padding-bottom: 180px;
	}
	
	.home-about-text{
	
	width: 70%;
	padding: 120px;
	outline-offset: -64px;
	margin-left: -3.6%;
	top: -90px;
	text-align: left;
	box-shadow: 0 0 50px 0 rgba(0,0,0,2);
	}
	
	.home-about-text h1{
		top: 0px;
		left: 80px;
		padding: 0 8px;
		transform: translateX(0);
	}
}


/*------PORTFOLIO------*/

.portfolio{
	margin : 4px 0;
	
}


.port-item{
	margin: 0px;
	position: relative;
}

.port-item img{
	display: block;
}

.portDescription{
	position: absolute;
	z-index: 100;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: white;
	background: rgba(0,0,0,.5);
	padding-bottom: 30px;
}

@media(min-width: 552px){
	.port-item{
		width: 50%;
		float: left;
		overflow: hidden;
	}
	.portDescription{
		transform: translateY(160%);
	}
	
	.port-item:hover .portDescription{
		transform: translateY(0%);
	}
}

@media(min-width: 1020px){
	.port-item{
		width: 20%;
	}
}


/*------CTA------*/
.cta{
	background-color: #008080;
	padding: 40px 0 0;
}


.footer{
	img-align: center;
}