*
{
	margin: 0;
	padding: 0;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.hero{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
}

h1{
	font-size: 65px;
	letter-spacing: 15px;
}

h4{
	font-family: Dosis;
	font-size: 40px;
	letter-spacing: 20px;
}

hr{
	width: 50%;
	margin: 30px auto;
	border: 1.5px solid #FFF;
}

p{
	font-family: Dosis;
	font-size: 30px;
	margin-bottom : 30px;
}